//colours

$scissors-gradient: hsl(39, 89%, 49%); 
$Paper-gradient: hsl(230, 89%, 62%); 
$Rock-gradient: hsl(349, 71%, 52%);

$dark-text: hsl(229, 25%, 31%);
$Score-text: hsl(229, 64%, 46%);
$Header-outline: hsl(217, 16%, 45%);



